<div class="tiles blue m-b-10">
  <div class="tiles-body">
    <div class="tiles-title"> ACTIVE APPLICANT TICKETS </div>
    <div class="heading"> <span id="activeAppTickets" class="animate-number" data-value="<%= @activeAppTickets %>" data-animation-duration="700">0</span></div>
  </div>
</div>
