<!-- BEGIN ANIMATED TILE -->
<div class="col-md-6 col-sm-6 m-b-10" data-aspect-ratio="true">
  <div class="live-tile slide ha " data-speed="750" data-delay="4000" data-mode="carousel">
    <div class="slide-front ha tiles blue ">
      <div class="p-t-20 p-l-20 p-r-20 p-b-20">
        <h4 class="text-white no-margin custom-line-height">“Just <span class="semi-bold">Completed</span> the <span class="semi-bold">Heart walk</span> advertiing
    campaign”</h4>
      </div>
      <div class="overlayer bottom-left fullwidth">
        <div class="overlayer-wrapper">
          <div class="user-comment-wrapper">
            <div class="profile-wrapper"> <img src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35"> </div>
            <div class="comment">
              <div class="user-name text-white "><span class="bold"> David</span> Cooper </div>
              <p class="text-white-opacity">@ Revox</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-back ha tiles blue">
      <div class="user-comment-wrapper m-t-20">
        <div class="profile-wrapper"> <img src="assets/img/profiles/d.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35"> </div>
        <div class="comment">
          <div class="user-name text-white "><span class="bold"> Jane</span> Smith </div>
          <p class="text-white-opacity">@ Revox</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="overlayer bottom-left fullwidth">
        <div class="overlayer-wrapper">
          <div class="p-t-20 p-l-20 p-r-20 p-b-20">
            <h4 class="text-white no-margin custom-line-height">“Just <span class="semi-bold">Completed</span> the <span class="semi-bold">Heart walk</span> adverting
        campaign”</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END ANIMATED TILE -->
