<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card input card-outline-primary mb-3 text-center">
        <div class="card-block">
          <h4 class="card-title">New Sprint</h4>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <span class="card-text"><%= render 'form', sprint: @sprint %></span>
            </div>
          </div class="col-md-2"></div>
        </div>
        <span class="card-text"><%= link_to 'Back', sprints_path %></span>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
