/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "jquery-ui/jquery-ui-1.10.1.custom.min.scss";
@import "jquery-block-ui/jqueryblockui.scss";
@import "bootstrapv3/bootstrap.scss";
@import "bootstrapv3/bootstrap-theme.scss";
@import "bootstrap/bootstrap-responsive.min.scss";
@import "bootstrap/bootstrap.min.scss";
@import "webarch/mixins.scss";
@import "webarch/responsive.scss";
@import "webarch/style.scss";
@import "webarch/modules.scss";
@import "font-awesome";
@import "wysi/wysi.scss";
@import "uniform/uniform.default.scss";
@import "animate.min.scss";
@import "bootstrap-checkbox/bootstrap-checkbox.scss";
@import "bootstrap-clockpicker/bootstrap-clockpicker.scss";
@import "bootstrap-clockpicker/jquery-clockpicker.scss";
@import "bootstrap-slider/slider.scss";
@import "bootstrap-colorpicker/bootstrap-colorpicker.scss";
@import "bootstrap-wysihtml5/bootstrap-wysihtml5.scss";
@import "bootstrap-wysihtml5/wysiwyg-color.scss";
@import "bootstrap-tag/bootstrap-tagsinput.scss";
@import "bootstrap-timepicker/bootstrap-timepicker.scss";
@import "bootstrap-select2/select2.scss";
@import "clockface/clockface.scss";
@import "fancybox/jquery.fancybox.scss";
@import "fullcalendar/fullcalendar.scss";
@import "fullcalendar/fullcalendar.print.scss";
@import "gritter/jquery.gritter.scss";
@import "ios-switch/ios7-switch.scss";
@import "data-tables/DT_bootstrap.scss";
@import "datatables-responsive/datatables.responsive.scss";
@import "dropzone/basic.scss";
@import "dropzone/dropzone.scss";
@import "chosen/chosen.scss";

.pagination {
   justify-content: center;
}

.card-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card.input {
  margin-top: 40px;
  padding: 20px
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

#form_button {
  margin-top: 40px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}

.post-head {
  height: 64px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
  .thumbnail {}
  .name {
    display: block;
  }
}

.rally {
  padding-top: 40px;
}

.copyrights{
margin-top:25px;
}

footer.container-fluid.text-center.foot {
    background: #383838;
}

.dark-line{
border-top: 1px solid #525252;
}

.white-txt{
color: #FFF;
}


a.link {
    color: #008acc;
    border: 1px #008acc solid;
    padding: 5px;
    text-decoration: none;
}

a.link:hover {
background: #008acc;
    color: #383838;
}

.footimg{
width: 5rem;
}
