<div class="copyrights">
  <p class="white-txt">Common App DevDash © 2017</p>
  <hr class="dark-line">
  <p class="white-txt small">
    The information presented on this site is confidential and for internal use only. Not for distribution.
  </p>
</div>
