  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="header navbar inner-inverse">
    <div class="navbar-inner">
      <div class="header-seperation">
        <ul class="nav pull-left notifcation-center visible-xs visible-sm">
          <li class="dropdown">
            <a href="#main-menu" data-webarch="toggle-left-side">
              <i class="material-icons">menu</i>
            </a>
          </li>
        </ul>
      <!-- BEGIN LOGO -->
      <%= image_tag("https://s3-us-west-2.amazonaws.com/kpl.assets/WhiteonMaroon.jpg", width: '164') %>
      <!-- END LOGO -->
        <ul class="nav pull-right notifcation-center">
          <li class="dropdown hidden-xs hidden-sm">
            <a href="" class="dropdown-toggle active" data-toggle="">
              <i class="material-icons">home</i>
            </a>
          </li>
          <li class="dropdown hidden-xs hidden-sm">
            <a href="" class="dropdown-toggle">
              <i class="material-icons">email</i><span class="badge bubble-only"></span>
            </a>
          </li>
          <li class="dropdown visible-xs visible-sm">
            <a href="#" data-webarch="toggle-right-side">
              <i class="material-icons">chat</i>
            </a>
          </li>
        </ul>
      </div>
    <!-- END RESPONSIVE MENU TOGGLER -->
      <div class="header-quick-nav">
      <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="pull-left">
          <ul class="nav quick-section">
            <li class="quicklinks m-r-10">
              <%= link_to( content_tag(:i, "menu", class: "material-icons"), "javascript:;", id: "layout-condensed-toggle") %>
          </li>
        </ul>
        <ul class="nav quick-section">
          <li class="quicklinks  m-r-10">
            <a href="#" class="">
              <i class="material-icons">refresh</i>
            </a>
          </li>
          <li class="quicklinks">
            <a href="#" class="">
              <i class="material-icons">apps</i>
            </a>
          </li>
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
